{% extends "base.html" %}
{% block page_content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="col-md-8 offset-md-2">
    <h1>News</h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'news_detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Category:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'news_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}